
$pink-color: pink;
$blue-color: blue;
.pink-background {
    background-color: $pink-color;
   }

.blue-background {
    background-color: $blue-color;
}
img {
    display: block;
    width: 200px;
  }
  
   